/* Custom part of the Sinder CSS 
*  made to complete the entire css
* needs of the sinder app */

/* This will apply to all input range elements */
input[type="range"] {
  /* Make the slider span the full width of its parent */
  width: 100%;
  /* Remove the default appearance */
  -webkit-appearance: none;
  appearance: none;
}

/* This targets the 'thumb' (the value slider) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #e03997;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #e03997;
  border-radius: 50%;
  cursor: pointer;
}

/* This targets the 'track' (the background bar) */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #b9b9b991;
  border-radius: 25px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #b9b9b991;
  border-radius: 25px;
}
